.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  /* margin-top: 40px; */
  padding-top: 30px;
  background-color: transparent;
  z-index: 9999;
}
ul {
  font-family: "Unbounded", sans-serif;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Unbounded", sans-serif;
}
ul li a {
  text-decoration: none;
  color: white;
}
.icons {
  display: flex;
  gap: 20px;

  color: white;
}
.icons i {
  color: #fff;
  font-size: 20px;
}
.menu2{
  display: flex;
  flex-direction: column;
  gap: 0;
}
ul li a:hover {
  color: #06d6a0;
  cursor: pointer;
  transition: all 0.3s;
}
.icons i:hover {
  color: #06d6a0;
  cursor: pointer;
}
.burger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 3rem;
  right: 2rem;
}
.navbarLinks {
  position: relative;
}
.burger i {
  font-size: 2.75rem;
  color: #fff;
}

.toggle {
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.toggle:hover {
  transform: rotate(360deg);
}

.navbarLinks img {
  display: none;
}
.iconWrapper {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
}

@media (max-width: 800px) {
  /* .navbar{
    display:grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 500px;
  } */
  .navbar img {
    margin-left: 74px;
    height: 70px;
  }
  .navbarLinks {
    display: none;
  }
  .icons {
    display: none;
  }
  .burger i {
    font-size: 60px;
  }
  .navbarLinks.active {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    position: absolute;
    top: 0px;
    background-color: light-dark(#efedea, #223a2c);
    left: 0;
    width: 30%;
    padding: 2rem;
    font-size: 40px;
    font-weight: 600;
    margin-top: 0;
    opacity: 1;
    z-index: 9999;
  }
  .navbarLinks img {
    display: flex;
    opacity: 1;
    margin-right: 120px;
    margin-top: 10px;
  }

  .navbarLinks li a {
    color: #000;
  }
  .burger {
    display: block;
  }
}
.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  /* margin-top: 40px; */
  padding-top: 30px;
  background-color: transparent;
  z-index: 9999;
}
ul {
  font-family: "Unbounded", sans-serif;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Unbounded", sans-serif;
}
ul li a {
  text-decoration: none;
  color: white;
}
.icons {
  display: flex;
  gap: 20px;

  color: white;
}
.icons i {
  color: #fff;
  font-size: 20px;
}

ul li a:hover {
  color: #06d6a0;
  cursor: pointer;
  transition: all 0.3s;
}
.icons i:hover {
  color: #06d6a0;
  cursor: pointer;
}
.burger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 3rem;
  right: 2rem;
}
.navbarLinks {
  position: relative;
}
.burger i {
  font-size: 2.75rem;
  color: #fff;
}
.lang {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.languageToggle {
  font-size: 16px;
  font-weight: bold;
}
.toggle {
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.toggle:hover {
  transform: rotate(360deg);
}
.navbarLinks img {
  display: none;
}


@media (max-width: 800px) {
  /* .navbar{
    display:grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 500px;
  } */
  .navbar img {
    margin-left: 74px;
    height: 70px;
  }
  .navbarLinks {
    display: none;
  }
  .icons {
    display: none;
  }
  .burger i {
    font-size: 60px;
    margin-right: 50px;
  }
  .navbarLinks.active {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    position: absolute;
    top: 0px;
    background-color: light-dark(#efedea, #223a2c);
    left: 0;
    width: 30%;
    padding: 2rem;
    font-size: 40px;
    font-weight: 600;
    margin-top: 0;
    opacity: 1;
    z-index: 9999;
  }
  .navbarLinks img {
    display: flex;
    opacity: 1;
    margin-right: 120px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .navbarLinks li a {
    color: #000;
  }
  .burger {
    display: block;
  }
}
@media (max-width: 500px) {
  .navbar {
  }
  .navbar img {
    width: 400px;
    height: 97px;
    margin-left: 50px;
  }
  .burger i {
    font-size: 80px;
    margin-right: 80px;
  }
  .navbarLinks.active {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 76px;
    position: absolute;
    top: 0px;
    background-color: light-dark(#efedea, #223a2c);
    left: 0;
    width: 27%;
    padding: 2rem;
    font-size: 40px;
    font-weight: 600;
    margin-top: 0;
    opacity: 1;
    z-index: 9999;
  }
  .navbarLinks img {
    display: flex;
    opacity: 1;
    width: 370px;
    margin-left: 120px;
    margin-bottom: 0;
    margin-top: 0;
  }
}
